<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="InitialBedsideSystems" value="8" />
    <add key="InitialModulesPerBedsideSystem" value="4" />
    <add key="InitialMinValue" value="-5" />
    <add key="InitialMaxValue" value="5" />
    <add key="MaxModulesPerBedsideSystem" value="4" />
  </appSettings>
</configuration>